# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [3]:
URL = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"
df = pd.read_csv(URL)
df.head()
df.info()

URLError: <urlopen error [Errno 8] nodename nor servname provided, or not known>

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [26]:
idxs = [df.columns.tolist().index(col) for col in ["school", "guardian"]]
df.iloc[:, list(range(idxs[0], idxs[1]))]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course
1,GP,F,17,U,GT3,T,1,1,at_home,other,course
2,GP,F,15,U,LE3,T,1,1,at_home,other,other
3,GP,F,15,U,GT3,T,4,2,health,services,home
4,GP,F,16,U,GT3,T,3,3,other,other,home
5,GP,M,16,U,LE3,T,4,3,services,other,reputation
6,GP,M,16,U,LE3,T,2,2,other,other,home
7,GP,F,17,U,GT3,A,4,4,other,teacher,home
8,GP,M,15,U,LE3,A,3,2,services,other,home
9,GP,M,15,U,GT3,T,3,4,other,other,home
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation
11,GP,F,15,U,GT3,T,2,1,services,other,reputation
12,GP,M,15,U,LE3,T,4,4,health,services,course
13,GP,M,15,U,GT3,T,4,3,teacher,other,course
14,GP,M,15,U,GT3,A,2,2,other,other,home
15,GP,F,16,U,GT3,T,4,4,health,other,home
16,GP,F,16,U,GT3,T,4,4,services,services,reputation
17,GP,F,16,U,GT3,T,3,3,other,other,reputation
18,GP,M,17,U,GT3,T,3,2,services,services,course
19,GP,M,16,U,LE3,T,4,3,health,other,home
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation
21,GP,M,15,U,GT3,T,4,4,health,health,other
22,GP,M,16,U,LE3,T,4,2,teacher,other,course
23,GP,M,16,U,LE3,T,2,2,other,other,reputation
24,GP,F,15,R,GT3,T,2,4,services,health,course
25,GP,F,16,U,GT3,T,2,2,services,services,home
26,GP,M,15,U,GT3,T,2,2,other,other,home
27,GP,M,15,U,GT3,T,4,2,health,services,other
28,GP,M,16,U,LE3,A,3,4,services,other,home
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home
...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,course
366,MS,M,18,U,LE3,T,4,4,teacher,services,other
367,MS,F,17,R,GT3,T,1,1,other,services,reputation
368,MS,F,18,U,GT3,T,2,3,at_home,services,course
369,MS,F,18,R,GT3,T,4,4,other,teacher,other
370,MS,F,19,U,LE3,T,3,2,services,services,home
371,MS,M,18,R,LE3,T,1,2,at_home,services,other
372,MS,F,17,U,GT3,T,2,2,other,at_home,home
373,MS,F,17,R,GT3,T,1,2,other,other,course
374,MS,F,18,R,LE3,T,4,4,other,other,reputation
375,MS,F,18,R,GT3,T,1,1,other,other,home
376,MS,F,20,U,GT3,T,4,2,health,other,course
377,MS,F,18,R,LE3,T,4,4,teacher,services,course
378,MS,F,18,U,GT3,T,3,3,other,other,home
379,MS,F,17,R,GT3,T,3,1,at_home,other,reputation
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,home
381,MS,M,18,R,GT3,T,2,1,other,other,other
382,MS,M,17,U,GT3,T,2,3,other,services,home
383,MS,M,19,R,GT3,T,1,1,other,services,other
384,MS,M,18,R,GT3,T,4,2,other,other,home
385,MS,F,18,R,GT3,T,2,2,at_home,other,other
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation
387,MS,F,19,R,GT3,T,2,3,services,other,course
388,MS,F,18,U,LE3,T,3,1,teacher,services,course
389,MS,F,18,U,GT3,T,1,1,other,other,course
390,MS,M,20,U,LE3,A,2,2,services,services,course
391,MS,M,17,U,LE3,T,3,1,services,services,course
392,MS,M,21,R,GT3,T,1,1,other,other,course
393,MS,M,18,R,LE3,T,3,2,services,other,course
394,MS,M,19,U,LE3,T,1,1,other,at_home,course

### Step 5. Create a lambda function that capitalize strings.

In [86]:
toupper = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [94]:
for col in ["Mjob", "Fjob"]:
    df[col] = df[col].apply(toupper)

df[["Mjob", "Fjob"]].head()

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 7. Print the last elements of the data set.

In [95]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
# fixed that already

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [101]:
majority = lambda x: x > 17

In [103]:
df["legal_drinker"] = df.age.apply(majority)
df.legal_drinker.head()

0     True
1    False
2    False
3    False
4    False
Name: legal_drinker, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [119]:
multiply = lambda x: x * 10 if x.dtype in ["int", "float"] else x

In [120]:
df.apply(multiply).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,...,30,20,10,20,50,40,60,100,100,False